<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.angryziber.android.dtuguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:label">
        <activity android:name="com.angryziber.android.dtuguide.splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.angryziber.android.dtuguide.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.angryziber.android.dtuguide.Contacts"
            android:label="Contacts"
            android:screenOrientation="portrait"
            android:parentActivityName="com.angryziber.android.dtuguide.MainActivity"
            android:theme="@style/AppTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angryziber.android.dtuguide.MainActivity" />
        </activity>
        <activity
            android:name="com.angryziber.android.dtuguide.About_Actitvity"
            android:label="About"
            android:parentActivityName="com.angryziber.android.dtuguide.MainActivity"
            android:theme="@style/AppTheme.ActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.angryziber.android.dtuguide.MainActivity" />
        </activity>
        <activity android:name="com.angryziber.android.dtuguide.feedbackActivity"
            android:label="Write To Us"
            android:parentActivityName="com.angryziber.android.dtuguide.MainActivity"
            android:theme="@style/AppTheme.ActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.angryziber.android.dtuguide.DevConsole"
            android:screenOrientation="portrait"/>
        <activity android:name="com.angryziber.android.dtuguide.FirebaseDatabaseManager"
            android:screenOrientation="portrait"/>

        <service android:name="com.angryziber.android.dtuguide.MyFirebaseMessagingService"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.angryziber.android.dtuguide.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.angryziber.android.dtuguide.NetworkChangeReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>